<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbonoz SolarAutopilot</title>
 

 
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <link rel="stylesheet" href="<%= ingress_path %>/css/main.css">
   <link rel="stylesheet" href="<%= ingress_path %>/css/chart.css">
</head>
<body>
   
    <div class="container">
        <div id="loadingOverlay" class="loading-overlay">
            <div class="loading-spinner"></div>
          </div>
          <div id="pageContent"> </div>
<%- include('partials/sidebar') %>

        <div class="main-container">
           

            <div class="main-content">
                <div class="content-card">
                 

                    <div class="filter-container">
                        <div class="form-group">
                            <label for="from">From:</label>
                            <input type="datetime-local" id="from" name="from">
                        </div>
                        <div class="form-group">
                            <label for="to">To:</label>
                            <input type="datetime-local" id="to" name="to">
                        </div>
                        <div class="form-group">
                            <label for="timezone">Time Zone:</label>
                            <select id="timezone" name="timezone">
                                <option value="UTC">UTC</option>
                                <option value="America/New_York">America/New_York</option>
                                <option value="Europe/London">Europe/London</option>
                                <option value="Asia/Tokyo">Asia/Tokyo</option>
                                <option value="Africa/Kigali">Africa/Kigali</option>
                                <option value="Indian/Mauritius">Indian/Mauritius</option>
                                <option value="America/Cayman">America/Cayman</option>
                            </select>
                        </div>
                        <button onclick="updateIframe()">Apply</button>
                    </div>
                
                    <div class="dashboard-container">
                        <iframe 
                            id="grafanaDashboard"
                            src="http://<%= mqtt_host %>:3001/d/solar_dashboard/solar-dashboard?orgId=1&kiosk=1&refresh=1m&theme=light" 
                            allowfullscreen>
                        </iframe>
                    </div>
                    
                </div>
            </div>

    
        </div>
    </div>
     
    <script src="<%= ingress_path %>/js/loading.js"></script>
    <script src="<%= ingress_path %>/js/sidebar.js"></script>
    <script src="<%= ingress_path %>/js/dark-mode.js"></script>

<script>
function updateIframe() {
    const from = document.getElementById('from').value;
    const to = document.getElementById('to').value;
    const timezone = document.getElementById('timezone').value;
    const iframe = document.getElementById('grafanaDashboard');
    const isDarkMode = document.body.classList.contains('dark-mode'); // Check if dark mode is active

    if (from && to) {
        const fromUnix = new Date(from).getTime();
        const toUnix = new Date(to).getTime();
        const theme = isDarkMode ? 'dark' : 'light'; // Set the correct theme based on dark mode state
        iframe.src = `http://<%= mqtt_host %>:3001/d/solar_dashboard/solar-dashboard?orgId=1&kiosk=1&refresh=1m&theme=${theme}&from=${fromUnix}&to=${toUnix}&tz=${timezone}`;
    } else {
        alert("Please select both a start and end time.");
    }
}

</script>
   

</body>
</html>
